@model MarketStore.Models.User1

@{
    
      Layout = "~/Views/Shared/_UserDashboard.cshtml";
}



  
    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
              <img src=@Url.Content("~/Images/" + Model.ImagePath) width="100" height="100" alt="Profile" class="rounded-circle">
              <h2>@Model.Fname @Model.Lname</h2>     
            </div>
          </div>
        </div>


        <div class="col-xl-8">
          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                </li>      
                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-Visa-Card">Visa Card</button>
                </li>             
              </ul>

  <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                        
                  <h5 class="card-title">Profile Details</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Full Name</div>
                    <div class="col-lg-9 col-md-8">@Model.Fname @Model.Lname </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Email</div>
                    <div class="col-lg-9 col-md-8"> @Model.Email</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Phone</div>
                    <div class="col-lg-9 col-md-8">@Model.Phone</div>
                  </div>
                </div>


               <div class="tab-pane fade pt-3" id="profile-Visa-Card">        
                  <h5 class="card-title">Profile Details</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Card Number</div>
                    <div class="col-lg-9 col-md-8">@ViewBag.visan </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Expiry Date</div>
                    <div class="col-lg-9 col-md-8">@ViewBag.visad </div>
                  </div>

                  <div class="row">
                     <div class="col-lg-3 col-md-4 label ">Balance</div>
                    <div class="col-lg-9 col-md-8">@ViewBag.visab </div>
                  </div>
                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                  <!-- Profile Edit Form -->
                  <form asp-action="profile" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                       <input type="hidden" asp-for="Id" />
              <div>
                      <label hidden asp-for="ImagePath" class="col-md-4 col-lg-3 col-form-label">Last Name</label>
                        <input hidden asp-for="ImagePath" type="text" class="form-control">
                        <span hidden asp-validation-for="ImagePath" class="text-danger"></span>
               </div>
                    <div class="row mb-3">
                      <label asp-for="ImageFile" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                      <div class="col-md-8 col-lg-9">
                      <img src=@Url.Content("~/Images/" + Model.ImagePath) width="100" height="100" alt="Profile" class="rounded-circle">
                         <div class="pt-2">
                         <input asp-for="ImageFile" class="bi bi-upload"/> 
                          <span asp-validation-for="Fname" class="text-danger"></span>
                        </div>
                      </div>
                    </div>
                
                    <div class="row mb-3">
                      <label asp-for="Fname" class="col-md-4 col-lg-3 col-form-label">First Name</label>
                      <div class="col-md-8 col-lg-9">
                        <input asp-for="Fname" type="text" class="form-control">
                       
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label asp-for="Lname" class="col-md-4 col-lg-3 col-form-label">Last Name</label>
                      <div class="col-md-8 col-lg-9">
                        <input asp-for="Lname" type="text" class="form-control">
                        <span asp-validation-for="Lname" class="text-danger"></span>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label asp-for="Phone" class="col-md-4 col-lg-3 col-form-label">Phone</label>
                      <div class="col-md-8 col-lg-9">
                        <input  asp-for="Phone"  class="form-control" >
                          <span asp-validation-for="Phone" class="text-danger"></span>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label  asp-for="Email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                      <div class="col-md-8 col-lg-9">
                        <input  asp-for="Email" type="email" class="form-control">
                     <span asp-validation-for="Email" class="text-danger"></span>

                      </div>
                      </div>

                          <div class="row mb-3">
                      <label  asp-for="Address" class="col-md-4 col-lg-3 col-form-label">Address</label>
                      <div class="col-md-8 col-lg-9">
                        <input  asp-for="Address" type="text" class="form-control">
                     <span asp-validation-for="Address" class="text-danger"></span>

                      </div>
                    </div>


            <div class="form-group">
                
            </div>
              <div class="row mb-3">
                      <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="currentPassword" type="password" class="form-control" id="currentPassword">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="newPassword" type="password" class="form-control" id="newPassword">
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="renewPassword" type="password" class="form-control" id="renewPassword">
                      </div>
                    </div>
                    <div class="text-center">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                  </form><!-- End Profile Edit Form -->
                </div>

            
        

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

